{% extends "base.html" %}

{% block content %}
    <h1 class="my-5" >Your Notes</h1>
    <a href="{% url 'logout' %}"class="btn btn-danger">Logout</a>
    <div class="row row-cols3 g-2">
        {% for note in notes %}
        <div class="col">
            <div class="p-3 border">
                <h3>{{note.title}}</h3>
                {{note.text|truncatechars:5}}
                <a href="/smart/notes/{{note.id}}"  class="btn btn-outline-primary">Details</a>
                
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- <ul>
       
        {% for note in notes %}
       
        <li  class="list-unstyled">{{note.title}} - {{note.created}} </li>
        <a href="/smart/notes/{{note.id}}" class="btn btn-outline-primary">Details</a>
      
       
         {% endfor %}

    </ul> -->
         <a href="{% url 'home' %}"class="btn btn-outline-primary">Home</a>
         <a href="{% url 'create' %}" class="btn btn-outline-primary">New Note</a>
{% endblock %}